.file-field-container.row
  .col-md-5
    = f.file_field :content, accept: Attachment.all_types.join(','), class: 'file-field', placeholder: 'Оберіть файл'
  .col-md-7
    = f.link_to_remove do
      %span.glyphicon.glyphicon-remove