%div{ class: 'listing-messages'}
  - if messages.size.zero?
    %p.nothing-to-show Немає повідомлень
  - else
    - messages.each do |message|
      = render partial: 'message_in_list', locals: { message: message, messages: messages }
    = paginate messages, remote: true
    .pagination-info
      = page_entries_info messages