- if messages.size.zero?
  %p.nothing-to-show У вас немає переписки з цим користувачем
- else
  - messages.reverse_each do |message|
    = render partial: 'message', locals: { message: message, companion: companion }