- if decisions.size.zero?
  %p.nothing-to-show Відгуків не знайдено
- else
  - decisions.each do |decision|
    = render partial: 'decisions/decision', locals: { decision: decision }
  = paginate decisions
  .pagination-info
    = page_entries_info decisions