.categories
  - decision.accepted_items.each do |accepted_item|
    %span{ class: 'label', style: "background: ##{accepted_item.required_item.category.color}" }= accepted_item.required_item.category.name
