= content_for :title, 'Відгуки'
= content_for :styles do
  = stylesheet_link_tag 'index_show'
.container
  .decision-index
    = render partial: 'decisions/decisions_list', locals: { decisions: @decisions }
