.panel.panel-default.width-100
  .panel-heading
    %h4 Відгуки
  .panel-body
    -if @decisions.empty?
      %h5.text-center Відгуків не знайдено
    -else
      - @decisions.each do |decision|
        = render 'decisions/decision_in_list', decision: decision, decisions: @decisions
