- if articles.size.zero?
  %h5.text-center Новин не знайдено
- else
  - articles.each do |article|
    = render partial: 'articles/article', locals: { article: article }
  = paginate articles
  .pagination-info
    = page_entries_info articles