%h1.title= defined?(in_list) ? link_to(article.name, show_article_url(article, url: article.article_url)) : article.name
.info
  %p.date= l(article.created_at, format: '%d %B, %Y')
%br
- if defined?(in_list)
  %p.description= article.body.truncate(530, separator:' ')
-else
  = simple_format(article.body, class: 'description')
