/* line 1, /home/devpc/Projects/alter_beta/app/assets/stylesheets/about.scss */
.photo {
  height: 400px;
  background: url("1.png") center;
  background-size: cover;
}

/* line 6, /home/devpc/Projects/alter_beta/app/assets/stylesheets/about.scss */
.about-system {
  margin: 50px 0 50px 0;
  color: #35353f;
}
/* line 9, /home/devpc/Projects/alter_beta/app/assets/stylesheets/about.scss */
.about-system h1, .about-system h2 {
  font-family: 'GothaProBol';
  font-weight: bold;
}
/* line 14, /home/devpc/Projects/alter_beta/app/assets/stylesheets/about.scss */
.about-system h1 {
  padding: 20px 0 10px 0;
  font-size: 1.7em;
  text-transform: uppercase;
}
/* line 20, /home/devpc/Projects/alter_beta/app/assets/stylesheets/about.scss */
.about-system h2 {
  text-align: right;
  padding: 30px 0 50px 0;
  font-size: 1.5em;
}
/* line 26, /home/devpc/Projects/alter_beta/app/assets/stylesheets/about.scss */
.about-system p {
  margin-top: 30px;
  text-align: justify;
  line-height: 25px;
}
