/* line 1, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.home-page-bg {
  background: url("HomeBG.png") no-repeat;
  background-size: cover;
}

/* line 7, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .navbar {
  margin-bottom: 0px;
}
/* line 9, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header {
  border-radius: 0;
  border: none;
}
/* line 12, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-brand, header .custom-header .navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}
/* line 16, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
/* line 20, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav li a {
  text-transform: uppercase;
}
/* line 22, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu {
  border: none;
  padding: 0px;
}
/* line 25, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu li a {
  text-transform: none;
  line-height: 35px;
  height: 35px;
}
/* line 29, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu li:last-child a {
  line-height: 50px;
  height: 50px;
}
/* line 32, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu .number {
  font-weight: bold;
  padding-left: 8px;
}
/* line 35, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-collapse {
  text-align: center;
}
/* line 37, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-right {
  text-align: center;
  font-weight: bold;
}
/* line 40, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .dropdown a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 44, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-right li, header .custom-header .dropdown-menu {
  width: 210px;
}

/* line 48, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer {
  color: #fff;
}
/* line 50, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li {
  display: inline-block;
}
/* line 52, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li a {
  color: #fff;
}
/* line 54, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li a:hover, footer .contacts li a:focus {
  color: #d3d3d3;
}

/* line 59, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header {
  background: rgba(19, 18, 41, 0.6);
}
/* line 61, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-brand, .dark-theme .custom-header .navbar-nav li a {
  color: #fff;
}
/* line 64, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav a:hover, .dark-theme .custom-header .navbar-nav a:focus {
  color: #fff;
  background: rgba(19, 18, 41, 0.3);
}
/* line 67, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav .open > a, .dark-theme .custom-header .navbar-nav .open > a:hover, .dark-theme .custom-header .navbar-nav .open > a:focus {
  background: rgba(19, 18, 41, 0.3);
}
/* line 69, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav .dropdown-menu {
  background: rgba(19, 18, 41, 0.6);
}
/* line 71, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-footer {
  text-align: center;
}
/* line 73, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-footer .contacts li {
  line-height: 50px;
  height: 50px;
  font-size: 2em;
  margin: 0 10px;
}

/* line 81, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header {
  background: #fff;
}
/* line 83, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-brand, .light-theme .custom-header .navbar-nav li a {
  color: #35353f;
}
/* line 86, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav a:hover, .light-theme .custom-header .navbar-nav a:focus {
  color: #35353f;
  background: rgba(0, 0, 0, 0.15);
}
/* line 89, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav .open > a, .light-theme .custom-header .navbar-nav .open > a:hover, .light-theme .custom-header .navbar-nav .open > a:focus {
  background: rgba(0, 0, 0, 0.15);
}
/* line 91, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav .dropdown-menu {
  background: #fff;
}
/* line 94, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .contacts li {
  font-size: 1.3em;
  margin: 0 5px;
}
/* line 97, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top {
  line-height: 133px;
  height: 133px;
  background: #35353f;
}
/* line 101, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .brand {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
}
/* line 105, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .contact-information {
  text-align: right;
  transform: translateY(43px);
}
/* line 108, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .contact-information li {
  line-height: 30px;
}
/* line 110, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .bottom {
  text-transform: uppercase;
  color: #35353f;
  line-height: 70px;
  height: 70px;
  text-align: center;
}
