/* line 1, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.home-page-bg {
  background: url("HomeBG.png") no-repeat;
  background-size: cover;
}

/* line 8, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .navbar {
  margin-bottom: 0px;
}
/* line 10, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header {
  border-radius: 0;
  border: none;
}
/* line 13, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-brand, header .custom-header .navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}
/* line 17, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
/* line 21, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav li a {
  text-transform: uppercase;
}
/* line 23, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu {
  border: none;
  padding: 0px;
}
/* line 26, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu li a {
  text-transform: none;
  line-height: 35px;
  height: 35px;
}
/* line 30, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu li:last-child a {
  line-height: 50px;
  height: 50px;
}
/* line 33, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu .number {
  font-weight: bold;
  padding-left: 8px;
}
/* line 36, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-collapse {
  text-align: center;
}
/* line 38, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-right {
  font-family: "GothaProBol";
  text-align: center;
}
/* line 41, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .dropdown a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 45, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-right li, header .custom-header .dropdown-menu {
  width: 220px;
}

/* line 50, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer {
  color: #fff;
}
/* line 52, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li {
  display: inline-block;
}
/* line 54, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li a {
  color: #fff;
}
/* line 56, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li a:hover, footer .contacts li a:focus {
  color: #d3d3d3;
}

/* line 62, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header {
  background: rgba(19, 18, 41, 0.3);
}
/* line 64, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-brand, .dark-theme .custom-header .navbar-nav li a {
  color: #fff;
}
/* line 67, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav a:hover, .dark-theme .custom-header .navbar-nav a:focus {
  color: #fff;
  background: rgba(19, 18, 41, 0.3);
}
/* line 70, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav .open > a, .dark-theme .custom-header .navbar-nav .open > a:hover, .dark-theme .custom-header .navbar-nav .open > a:focus {
  background: rgba(19, 18, 41, 0.3);
}
/* line 72, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav .dropdown-menu {
  background: rgba(19, 18, 41, 0.6);
}
/* line 74, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-footer {
  text-align: center;
}
/* line 76, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-footer .contacts li {
  line-height: 100px;
  height: 100px;
  font-size: 1.7em;
  margin: 0 10px;
}

/* line 85, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header {
  background: #fff;
}
/* line 87, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-brand, .light-theme .custom-header .navbar-nav li a {
  color: #35353f;
}
/* line 90, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav a:hover, .light-theme .custom-header .navbar-nav a:focus {
  color: #35353f;
  background: rgba(0, 0, 0, 0.15);
}
/* line 93, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav .open > a, .light-theme .custom-header .navbar-nav .open > a:hover, .light-theme .custom-header .navbar-nav .open > a:focus {
  background: rgba(0, 0, 0, 0.15);
}
/* line 95, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav .dropdown-menu {
  background: #fff;
}
/* line 98, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .contacts li {
  font-size: 1.3em;
  margin: 0 5px;
}
/* line 101, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top {
  line-height: 133px;
  height: 133px;
  background: #35353f;
}
/* line 105, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .brand {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
}
/* line 109, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .contact-information {
  text-align: right;
  transform: translateY(43px);
}
/* line 112, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .contact-information li {
  line-height: 30px;
}
/* line 114, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .bottom {
  text-transform: uppercase;
  color: #35353f;
  line-height: 70px;
  height: 70px;
  text-align: center;
}
