/* line 1, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.home-page-bg {
  background: url("HomeBG.png") no-repeat;
  background-size: cover;
}

/* line 8, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .navbar {
  margin-bottom: 0px;
}
/* line 12, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header {
  border-radius: 0;
  border: none;
}
/* line 16, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-brand, header .custom-header .navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}
/* line 22, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
/* line 27, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-nav li a {
  text-transform: uppercase;
}
/* line 31, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-nav .dropdown-menu {
  border: none;
  padding: 0px;
}
/* line 35, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-nav .dropdown-menu li a {
  text-transform: none;
  line-height: 35px;
  height: 35px;
}
/* line 41, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-nav .dropdown-menu li:last-child a {
  line-height: 50px;
  height: 50px;
}
/* line 46, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-nav .dropdown-menu .number {
  font-weight: bold;
  padding-left: 8px;
}
/* line 53, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-collapse {
  text-align: center;
}
/* line 57, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-right {
  text-align: center;
  font-weight: bold;
}
/* line 62, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .dropdown a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 68, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
header .custom-header .navbar-right li, header .custom-header .dropdown-menu {
  width: 180px;
}

/* line 74, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
footer {
  color: #fff;
}
/* line 76, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
footer .contacts li {
  display: inline-block;
}
/* line 78, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
footer .contacts li a {
  color: #fff;
}
/* line 82, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
footer .contacts li a:hover, footer .contacts li a:focus {
  color: #d3d3d3;
}

/* line 89, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.dark-theme .custom-header {
  background: rgba(19, 18, 41, 0.6);
}
/* line 91, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.dark-theme .custom-header .navbar-brand, .dark-theme .custom-header .navbar-nav li a {
  color: #fff;
}
/* line 96, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.dark-theme .custom-header .navbar-nav a:hover, .dark-theme .custom-header .navbar-nav a:focus {
  color: #fff;
  background: rgba(19, 18, 41, 0.3);
}
/* line 101, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.dark-theme .custom-header .navbar-nav .open > a, .dark-theme .custom-header .navbar-nav .open > a:hover, .dark-theme .custom-header .navbar-nav .open > a:focus {
  background: rgba(19, 18, 41, 0.3);
}
/* line 105, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.dark-theme .custom-header .navbar-nav .dropdown-menu {
  background: rgba(19, 18, 41, 0.6);
}
/* line 111, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.dark-theme .custom-footer {
  text-align: center;
}
/* line 114, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.dark-theme .custom-footer .contacts li {
  line-height: 50px;
  height: 50px;
  font-size: 2em;
  margin: 0 10px;
}

/* line 125, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-header {
  background: #fff;
}
/* line 127, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-header .navbar-brand, .light-theme .custom-header .navbar-nav li a {
  color: #35353f;
}
/* line 132, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-header .navbar-nav a:hover, .light-theme .custom-header .navbar-nav a:focus {
  color: #35353f;
  background: rgba(0, 0, 0, 0.15);
}
/* line 137, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-header .navbar-nav .open > a, .light-theme .custom-header .navbar-nav .open > a:hover, .light-theme .custom-header .navbar-nav .open > a:focus {
  background: rgba(0, 0, 0, 0.15);
}
/* line 141, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-header .navbar-nav .dropdown-menu {
  background: #fff;
}
/* line 148, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-footer .contacts li {
  font-size: 1.3em;
  margin: 0 5px;
}
/* line 153, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-footer .top {
  line-height: 133px;
  height: 133px;
  background: #35353f;
}
/* line 158, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-footer .top .brand {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
}
/* line 164, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-footer .top .contact-information {
  text-align: right;
  transform: translateY(43px);
}
/* line 167, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-footer .top .contact-information li {
  line-height: 30px;
}
/* line 173, /home/devpc/Projects/alter_beta/app/assets/stylesheets/layouts.scss */
.light-theme .custom-footer .bottom {
  text-transform: uppercase;
  color: #35353f;
  line-height: 70px;
  height: 70px;
  text-align: center;
}
