/* line 1, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.home-page-bg {
  background: url("home_background.png") no-repeat;
  background-size: cover;
}

/* line 4, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.modal-open {
  padding-right: 5px !important;
}

/* line 6, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.img-center {
  margin: 0 auto;
  padding: 5px;
  display: block;
}

/* line 10, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 14, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.inline {
  display: inline-block;
}

/* line 17, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.votes a {
  color: #cbcbcb;
}
/* line 19, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.votes p {
  display: inline;
  margin: 0 !important;
  float: none !important;
}
/* line 24, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.votes .upvote.voted {
  color: #04cc07 !important;
}
/* line 26, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.votes .upvote:hover {
  color: #90cc81;
}
/* line 29, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.votes .downvote.voted {
  color: #d52845 !important;
}
/* line 31, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.votes .downvote:hover {
  color: #d58b7f;
}

/* line 35, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .navbar {
  margin-bottom: 0;
}
/* line 37, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header {
  border-radius: 0;
  border: none;
}
/* line 40, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-brand, header .custom-header .navbar-nav li a {
  line-height: 80px;
  height: 80px;
  padding-top: 0;
}
/* line 44, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
/* line 48, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav li a {
  text-transform: uppercase;
}
/* line 50, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu {
  border: none;
  padding: 0;
}
/* line 53, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu li a {
  text-transform: none;
  line-height: 35px;
  height: 35px;
}
/* line 57, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu li:last-child a {
  line-height: 50px;
  height: 50px;
}
/* line 60, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-nav .dropdown-menu .number {
  font-weight: bold;
  padding-left: 8px;
}
/* line 63, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-collapse {
  text-align: center;
}
/* line 65, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-right {
  font-family: "Roboto";
  text-align: center;
}
/* line 68, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .dropdown a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 72, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .dropdown a span {
  font-family: "Roboto";
  font-weight: bold;
}
/* line 75, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
header .custom-header .navbar-right li, header .custom-header .dropdown-menu {
  width: 240px;
}

/* line 79, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer {
  color: #fff;
}
/* line 81, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li {
  display: inline-block;
}
/* line 83, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li a {
  color: #fff;
}
/* line 85, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
footer .contacts li a:hover, footer .contacts li a:focus {
  color: #d3d3d3;
}

/* line 90, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header {
  box-shadow: 0 3px 17px #2B2B39;
  background: rgba(19, 18, 41, 0.4);
}
/* line 93, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-brand, .dark-theme .custom-header .navbar-nav li a {
  color: #fff;
}
/* line 96, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav a:hover, .dark-theme .custom-header .navbar-nav a:focus {
  color: #fff;
  background: rgba(19, 18, 41, 0.3);
}
/* line 99, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav .open > a, .dark-theme .custom-header .navbar-nav .open > a:hover, .dark-theme .custom-header .navbar-nav .open > a:focus {
  background: rgba(19, 18, 41, 0.3);
}
/* line 101, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-header .navbar-nav .dropdown-menu {
  background: rgba(19, 18, 41, 0.6);
}
/* line 103, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-footer {
  text-align: center;
}
/* line 105, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.dark-theme .custom-footer .contacts li {
  line-height: 100px;
  height: 100px;
  font-size: 1.7em;
  margin: 0 10px;
}

/* line 113, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header {
  background: #35353f;
}
/* line 115, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-brand, .light-theme .custom-header .navbar-nav li a {
  color: #fff;
}
/* line 118, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav a:hover, .light-theme .custom-header .navbar-nav a:focus {
  color: #35353f;
  background: #fff;
}
/* line 121, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav .open > a, .light-theme .custom-header .navbar-nav .open > a:hover, .light-theme .custom-header .navbar-nav .open > a:focus {
  background: #fff;
  color: #35353f;
}
/* line 124, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-header .navbar-nav .dropdown-menu {
  background: #35353f;
}
/* line 139, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .contacts li {
  font-size: 1.3em;
  margin: 0 5px;
}
/* line 142, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top {
  line-height: 133px;
  height: 133px;
  background: #35353f;
}
/* line 146, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .brand {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
}
/* line 150, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .contact-information {
  text-align: right;
  transform: translateY(43px);
}
/* line 153, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .top .contact-information li {
  line-height: 30px;
}
/* line 155, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.light-theme .custom-footer .bottom {
  text-transform: uppercase;
  color: #35353f;
  line-height: 70px;
  height: 70px;
  text-align: center;
}

/* line 162, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.button {
  outline: none;
  display: block;
  color: #fff;
  border: none;
  border-radius: 30px;
  background: #35353f;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 6px 8px 22px -5px #2B2B39;
}
/* line 173, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.button:disabled {
  background: #efefef;
  color: #b2b2b2;
  box-shadow: none;
  border: 1px solid #eeeeee;
}

/* line 178, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.without-shadow {
  box-shadow: none;
}

/* line 181, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.pagination {
  margin-bottom: 0;
  border-radius: 5px;
  border-color: #35353f;
}
/* line 185, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.pagination li span, .pagination .last a, .pagination .first a, .pagination li span a {
  color: #35353f;
}
/* line 187, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.pagination li span {
  border-color: #eeeeee;
}
/* line 189, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.pagination li span:hover, .pagination li span:focus {
  background: #eeeeee;
  border-color: #eeeeee;
}
/* line 193, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.pagination .active span, .pagination .active span:active, .pagination .active span:hover, .pagination .active span:focus {
  background: #d52845;
  border-color: #d52845;
}

/* line 196, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.pagination-info {
  padding: 10px 0 15px 0;
  text-align: center;
  font-size: 0.6em;
}

/* line 201, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.nothing-to-show {
  margin: 15px;
  text-align: center;
  font-size: 1.3em;
}

/* line 206, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.custom-textarea {
  width: 100%;
  resize: none;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding: 10px;
  text-align: justify;
}
/* line 213, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.custom-textarea:focus {
  border-color: #8e8e9b;
  box-shadow: 0 0 3px -1px #2B2B39;
}

/* line 217, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.bootstrap-filestyle {
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}
/* line 221, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.bootstrap-filestyle .group-span-filestyle label {
  box-shadow: none;
  border: none;
  height: auto;
  background-color: transparent;
  color: #35353f;
  margin: 0;
}
/* line 228, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.bootstrap-filestyle .group-span-filestyle label:hover, .bootstrap-filestyle .group-span-filestyle label:focus {
  background: transparent;
  color: #d52845;
}
/* line 231, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.bootstrap-filestyle .group-span-filestyle label:hover span, .bootstrap-filestyle .group-span-filestyle label:focus span {
  color: #d52845;
}
/* line 233, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.bootstrap-filestyle .group-span-filestyle label span {
  color: #35353f;
}
/* line 235, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.bootstrap-filestyle input {
  height: auto;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  border-radius: 4px;
  padding: 15px 10px;
}

/* line 243, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.custom-input {
  border: none;
  padding: 20px 10px;
  border-bottom: 1px solid #cbcbcb;
}
/* line 247, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.custom-input:focus {
  border-color: #8e8e9b;
  box-shadow: 0 4px 6px -6px #8e8e9b;
}
/* line 250, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.custom-input:disabled {
  cursor: not-allowed;
  background-color: #fcfcfc !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-color: #b9b9b9;
}

/* line 257, /home/shpak/Projects/alter_beta/app/assets/stylesheets/layouts.sass */
.custom-input, .custom-textarea {
  background-color: transparent !important;
  width: 100%;
  margin-bottom: 10px;
}
