/* line 1, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form {
  font-family: "Roboto", regular;
  font-size: 0.9em;
  margin: 0 auto;
  padding: 40px;
  width: 35%;
}
/* line 3, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .field_with_errors input {
  border-color: rgba(231, 10, 10, 0.2) !important;
}
/* line 5, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .field_with_errors ::-webkit-input-placeholder {
  color: rgba(231, 10, 10, 0.5);
}
/* line 12, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form input[type=submit] {
  margin: 40px auto;
  width: 70%;
  padding: 20px;
}
/* line 16, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form input[type=email], .group-form input[type=password], .group-form input[type=text], .group-form textarea {
  background-color: transparent !important;
  width: 100%;
  margin-bottom: 10px;
}
/* line 20, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form input[type=email], .group-form input[type=password], .group-form input[type=text] {
  border: none;
  padding: 20px 10px;
  border-bottom: 1px solid #cbcbcb;
}
/* line 24, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form input[type=email]:focus, .group-form input[type=password]:focus, .group-form input[type=text]:focus {
  border-color: #8e8e9b;
  box-shadow: 0 4px 6px -6px #8e8e9b;
}
/* line 27, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form input[type=email]:disabled, .group-form input[type=password]:disabled, .group-form input[type=text]:disabled {
  cursor: not-allowed;
  background-color: #fcfcfc !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-color: #b9b9b9;
}
/* line 34, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .error {
  border-color: rgba(231, 10, 10, 0.2) !important;
}
/* line 36, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .error::-webkit-input-placeholder {
  color: rgba(231, 10, 10, 0.5) !important;
}
/* line 38, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .custom-checkbox {
  text-align: center;
  color: #cbcbcb;
  padding-top: 35px;
}
/* line 42, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .custom-checkbox input[type="checkbox"] {
  display: none;
}
/* line 44, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .custom-checkbox input[type="checkbox"] + label {
  cursor: pointer;
}
/* line 46, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .custom-checkbox input[type="checkbox"] + label:hover, .group-form .custom-checkbox input[type="checkbox"] + label:focus {
  color: #35353f;
}
/* line 48, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .custom-checkbox input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 5px 0 0;
  background-image: url("unchecked.png");
  background-repeat: no-repeat;
}
/* line 56, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .custom-checkbox input[type="checkbox"]:checked + label::before {
  background-image: url("checked.png");
  color: #35353f;
}
/* line 59, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .twitter-typeahead {
  width: 100%;
}
/* line 61, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-query, .group-form .tt-hint {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}
/* line 67, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 69, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-hint {
  color: #999;
}
/* line 71, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-menu {
  width: 100%;
  max-height: 220px;
  overflow-y: scroll;
  padding: 8px 0;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #cbcbcb;
}
/* line 79, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-menu::-webkit-scrollbar {
  width: 5px;
}
/* line 81, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-menu::-webkit-scrollbar-thumb {
  background-color: rgba(53, 53, 63, 0.6);
  border-radius: 2px;
}
/* line 84, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-menu::-webkit-scrollbar-track {
  border-radius: 2px;
}
/* line 86, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-suggestion {
  padding: 3px 20px;
  font-size: 1em;
  line-height: 24px;
}
/* line 90, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-suggestion:hover {
  background-color: rgba(33, 33, 33, 0.2);
}
/* line 92, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .tt-suggestion p {
  margin: 0;
}
/* line 94, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .links {
  text-align: center;
}
/* line 96, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .links a {
  line-height: 2em;
  color: #cbcbcb;
  text-decoration: none;
}
/* line 100, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .links a:hover, .group-form .links a:focus {
  color: #35353f;
}
/* line 102, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .links .social-networks {
  text-align: center;
}
/* line 104, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.group-form .links .social-networks a {
  font-size: 2em;
}

/* line 107, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new, .edit-profile, .request-edit {
  margin: 40px 20px;
}
/* line 109, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form, .edit-profile .group-form, .request-edit .group-form {
  width: 80%;
}
/* line 111, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .title, .edit-profile .group-form .title, .request-edit .group-form .title {
  font-size: 2em;
  margin-bottom: 20px;
}
/* line 114, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form:last-child, .edit-profile .group-form:last-child, .request-edit .group-form:last-child {
  padding-top: 0;
}
/* line 116, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form input[type=submit], .edit-profile .group-form input[type=submit], .request-edit .group-form input[type=submit] {
  width: 40%;
}
/* line 118, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .social, .edit-profile .group-form .social, .request-edit .group-form .social {
  white-space: nowrap;
}
/* line 120, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .social a, .edit-profile .group-form .social a, .request-edit .group-form .social a {
  color: #d52845;
}
/* line 122, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .social a:hover, .edit-profile .group-form .social a:hover, .request-edit .group-form .social a:hover {
  text-decoration: underline;
}
/* line 124, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .social label, .edit-profile .group-form .social label, .request-edit .group-form .social label {
  display: block;
}
/* line 126, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .social .url-field, .edit-profile .group-form .social .url-field, .request-edit .group-form .social .url-field {
  position: relative;
  width: 100%;
}
/* line 129, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .social .url-field .actions, .edit-profile .group-form .social .url-field .actions, .request-edit .group-form .social .url-field .actions {
  position: absolute;
  display: inline-block;
  top: 30%;
  float: right;
}
/* line 134, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .social.empty, .edit-profile .group-form .social.empty, .request-edit .group-form .social.empty {
  margin: 30px 0;
}
/* line 137, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .bootstrap-filestyle .group-span-filestyle, .edit-profile .group-form .bootstrap-filestyle .group-span-filestyle, .request-edit .group-form .bootstrap-filestyle .group-span-filestyle {
  border-left: 1px solid #cbcbcb;
}
/* line 139, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .group-form .bootstrap-filestyle input, .edit-profile .group-form .bootstrap-filestyle input, .request-edit .group-form .bootstrap-filestyle input {
  height: auto;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
  border-radius: 4px;
  padding: 15px 10px;
}
/* line 146, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .password-form, .edit-profile .password-form, .request-edit .password-form {
  width: 60%;
  display: block;
  margin: 100px auto 0 auto;
}
/* line 150, /home/shpak/Projects/alter_beta/app/assets/stylesheets/login_signup.sass */
.request-new .password-form input[type=submit], .edit-profile .password-form input[type=submit], .request-edit .password-form input[type=submit] {
  width: 60%;
}
