/* line 1, /home/shpak/Projects/alter_beta/app/assets/stylesheets/users.sass */
.social {
  white-space: nowrap;
}
/* line 3, /home/shpak/Projects/alter_beta/app/assets/stylesheets/users.sass */
.social label {
  display: block;
}
/* line 5, /home/shpak/Projects/alter_beta/app/assets/stylesheets/users.sass */
.social .add-url {
  width: 97.5%;
  display: inline-block;
}
/* line 8, /home/shpak/Projects/alter_beta/app/assets/stylesheets/users.sass */
.social .actions {
  display: inline-block;
}
