- if notifications.size.zero?
  %h5.text-center Сповіщень не знайдено
- else
  - notifications.each do |notification|
    = render partial: 'notifications/notification', locals: { notification: notification, destination: destination }
  = paginate notifications, remote: defined?(ajax) ? ajax : false
  .pagination-info
    = page_entries_info notifications
