-if @notifications.empty?
  %h3 Немає нових сповіщень
-else
  %h1 Сповіщення
  - @notifications.each do |notification|
    %div
      -if notification.status == 'new'
        %p New
      %p= notification.body
      %p= notification.created_at

      = link_to 'Show', notification
      = link_to 'Delete', notification, method: :delete

%br

