.statistic
  - unless @items[:other].empty?
    %p.nothing-to-show Загальна статистика
    = pie_chart @items[:other].joins(:category).group(:name).sum(:count), discrete: true, max: @max[:other]
  - unless @items[:money].empty?
    %p.nothing-to-show Грошова допомога
    = bar_chart @items[:money].joins(:category).group(:name).sum(:count), label: 'Сумма', discrete: true, max: @max[:money]
