- unless @items[:other].empty?
  %h4 Загальна статистика
  = bar_chart @items[:other].joins(:category).group(:name).sum(:count), discrete: true, max: @max[:other]
- unless @items[:money].empty?
  %h4 Грошова допомога
  = bar_chart @items[:money].joins(:category).group(:name).sum(:count), discrete: true, max: @max[:money]
