- if @users.size.zero?
  %p.nothing-to-show Користувачів не знайдено
- else
  .users-in-list.text-center.inline
    - @users.each do |user|
      = render partial: 'user_in_list', locals: {user: user}
  = paginate @users
  .pagination-info
    = page_entries_info @users
