= image_tag current_user.avatar.url
%p= 'Hello, ' + current_user.name + '. You are ' + current_user.role
-if current_user.phone.to_s.length > 0
  %p= 'phone: ' + current_user.phone
-if current_user.skype.to_s.length > 0
  %p= 'skype: ' + current_user.skype
