.home-block.height-1#contacts
  %p.caption Про нас
  %hr.divider
  .block-content
    .block
      %h3 Контактні дані
      %br
      %b Skype:
      %p help.alterteam
      %b Вконтакті:
      %p alltruedevs
      %b Facebook:
      %p AlterTeam
      %b Email:
      %b alterteam@gmail.com
    .block
      %h3 Технічна підтримка
      %br
      %p
        Якщо у вас виникли якісь проблеми, то ви легко можете звернутись до модераторів, відправивши лист з інформацією про проблему на електронну адресу.
        Всі ваші листи буде розглянуто та вирішено протягом 48 годин. Дякуємо, що ви з нами.
      %br
      %b help.alterteam@gmail.com
