.home-block.height-1#daily-photo
  .caption Фото дня
  %hr.divider
  .block-content
    %h4 Український прапор - оберіг гордості українського народу
    %br
    .responsive-img
      .fade
        &nbsp;
      %img.title-img.img-thumbnail{src: '/assets/daily-photo-example.jpg'}
