.home-block.height-2#info
  %p.caption Корисна інформація
  %hr.divider
  .block-content
    = render partial: 'home/widgets/weather'
    %br
    = render partial: 'home/widgets/bank'
    %br
    = render partial: 'home/widgets/news'
