.item
  %img{alt: 'Волонтери', src: '../assets/slide3.jpg'}
  .carousel-caption.text-box
    %h3 Благодіяння треба не розкидати, а розподіляти. Справа не в тому, що ти дав, а в тому, кому ти дав.
    %h3.text-right (Сенека)