.jumbotron
  %h1 Hello, world!
  %p Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world! Hello, world!
  %p
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more