.panel.panel-default.width-100
  .panel-heading
    %h4 Автор
  .panel-body
    .text-center
      = link_to @request.user.name, @request.user, class: 'break-word'
      = image_tag @request.user.avatar.url, class: 'img-responsive img-center img-thumbnail'
    - if can? :show, @request.user
      - if @request.user.phone.to_s.length > 0
        %p
          %strong Телефон:
          = @request.user.phone
      - if @request.user.skype.to_s.length > 0
        %p
          %strong Skype:
          = @request.user.skype
    %a.share-button.share-vk.pull-left{onclick: 'Share.vkontakte()'}
      Поділитись
      .vk-logo.pull-left
    %a.share-button.share-twitter.pull-right{onclick: 'Share.twitter()'}
      Tweet
      .twitter-logo.pull-left