.panel.panel-default.panel-100
  .panel-heading
    %h4 Запити
  .panel-body
    = link_to 'Створити запит', new_request_path
    = link_to 'Усі запити', requests_path

    = render'requests/requests_list', requests: @requests

    = paginate @requests