= content_for :title, 'Запити на допомогу'
= content_for :styles do
  = stylesheet_link_tag 'index_show'
.container
  .request-index
    = render partial: 'requests/requests_list', locals: { requests: @requests }
