default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *default
  database: Alter_dev

test:
  <<: *default
  database: Alter_test

production:
  <<: *default
  database: Alter_prod
