.modal.fade{ id: defined?(id) ? "#{selector}_#{id}" : selector, 'aria-hidden': true, 'aria-labelledby': :myModalLabel, role: :dialog, tabindex: '-1' }
  .modal-dialog.modal-kek
    .modal-content
      .modal-body
        %h4= title
      .modal-footer
        = link_to 'Підтвердити', defined?(classname) ? classname.find(id) : link, method: !defined?(id) ? :get : :delete, class: 'btn btn-success agree'
        %a.decline.btn.btn-default{ 'data-dismiss': :modal, type: :button } Відмінити
