@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'bootstrap-multiselect'
@import 'reset'
@import 'fonts'
@import 'layouts'
@import 'font-awesome'
@import 'selectize'
@import 'selectize.default'
@import 'confirmation'
@import 'jquery-ui'


body
  height: 100vh
  display: flex
  flex-direction: column
  font-family: 'Roboto'

.content
  flex: 1
  a
    text-decoration: none

.brand
  font-family: 'NeldaFree'
  letter-spacing: 3px
  font-size: 2.8em

input
  outline: none
