@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-multiselect";

html {
  position: relative;
  min-height: calc(100vh - 1px);
}

body {
  margin-bottom: 51px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

footer p{
  margin-bottom: 0px;
  margin-left: -15px;
  color: #777;
  padding: 15px 15px;
  font-size: 12px;
  line-height: 20px;
}

a{
  color: #5cb85c;
}

a:hover, a:focus {
  color: #1E781E;
}

hr {
  border-top: 1px solid #ddd;
}

.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}

.panel {
  width: 50%;
  margin: 0 auto;
}

.content{
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f8f8f8;
}

.tab-content{
  padding: 20px;
}

.user-info h3{
  margin: 0px;
}

.user-info h5{
  margin-top: 0px;
}

.user-profile{
  margin-bottom: 20px;
}

.request-in-list h4{
  margin: 0px;
}

.request-in-list p{
  margin-bottom: 0px;
}

.request-in-list{
  margin-top: 20px;
}

.tab-content {
  padding: 20px;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

