/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.top-user-name{
  margin-top: 8px;
  float: right;
}

.tab-content{
  padding: 20px;
}

.user-requests{
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-info{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}

.user-info h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-content{
  background: #F7F7F7;
  min-height: calc(100vh - 51px);
}