@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-multiselect";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

footer p{
  margin-bottom: 0px;
  margin-left: -15px;
  color: #777;
  float: left;
  padding: 15px 15px;
  font-size: 12px;
  line-height: 20px;
  height: 50px;
}

.tab-content{
  padding: 20px;
}

.kek{
  background: #B00100;
}

.user-info h3{
  margin: 0px;
}

.user-info h5{
  margin-top: 0px;
}

.user-profile{
  margin-bottom: 20px;
}

.request-in-list h4{
  margin: 0px;
}

.request-in-list p{
  margin-bottom: 0px;
}

.request-in-list{
  margin-top: 20px;
}

.tab-content{
  padding:  0px;
  margin-left: 20px;
  margin-right: 20px;
}

