.parentbox {
  height: calc(100vh - 130px);
  text-align: center;
  font: 0/0 a;
}

.parentbox:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.circle {
  display: inline-block;
  vertical-align: middle;

  margin: 0 auto;
  width: 450px;
  height: 450px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 225px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  color: #000;

  .phrases {
    font-size: 18pt;
    font-weight: bold;
    font-family: 'GothaPro';
    color: #fff;
    padding-top: 37%;

    .first {
      float: left;
      margin-left: -120px;
    }

    .second {
      float: right;
      margin-right: -120px;
    }

    .alter img {
      margin-top: -25px;
    }
  }

  .news {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: double 4px rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.5);
    background-clip: padding-box;
  }

  .news:hover, .news:focus {
    cursor: pointer;
    border-color: #fff;
    background: #fff;
    background-clip: padding-box;
  }


  .first-news {
    position: relative;
    top: 200px;
    left: -8px;
  }

  .second-news {
    position: relative;
    top: 19px;
    left: 85px
  }

  .third-news {
    position: relative;
    top: 37px;
    left: 382px;
  }

  .fourth-news {
    position: relative;
    top: 360px;
    left: 332px;
  }

  .fifth-news {
    position: relative;
    top: 366px;
    left: 144px;
  }
}

.contacts li {
  display: inline-block;
  margin: 0 15px;
}