.parentbox {
  height: calc(100vh - 130px);
  text-align: center;

  .phrases {
    font-size: 14pt;
    font-weight: bold;
    font-family: 'GothaPro';
    color: #fff;
  }

  @keyframes circle {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }

  .circle {
    //animation: circle 45s linear infinite;
    display: inline-block;
    vertical-align: middle;

    margin: 0 auto;
    width: 450px;
    height: 450px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 225px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    color: #000;

    .news {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: double 4px rgba(255,255,255,0.5);
      background: rgba(255,255,255,0.5);
      background-clip: padding-box;
    }

    .news:hover, .news:focus {
      cursor: pointer;
      border-color: #fff;
      background: #fff;
      background-clip: padding-box;
    }


    .first-news {
      transform: rotate(-18deg) translate(13.6em);
    }

    .second-news {
      transform: rotate(54deg)  translate(14.2em);
    }

    .third-news {
      transform: rotate(126deg)  translate(14.4em);
    }

    .fourth-news {
      transform: rotate(198deg)  translate(14em);
    }

    .fifth-news {
      transform: rotate(270deg)  translate(13.4em);
    }
  }
}

.parentbox:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

