.item-form
  .required-items, .accepted-items, .helped-items
    padding: 20px
    margin: 20px 0
    border-top: 1px solid #eee
    border-bottom: 1px solid #eee
    .form-item
      padding: 20px
      border-bottom: 1px solid #eee
      .cute-select, .cute-input
        width: 45%
      .right-side
        width: 45%
        float: right
        .count-container
          width: 80%
          margin-right: 10%
        .remove_nested_fields span
          vertical-align: top
    .clearfix
      padding: 5px 0
    .add_nested_fields
      span
        text-align: center
        font-size: 2em
        width: 100%
        margin-top: 20px
  .accepted-items .form-item, .helped-items .form-item
    margin: 0 5%
  .required-items .form-item
    margin: 0 20%
