body{
  height:100vh;
  display:flex;
  flex-direction: column;
}

.home-page-bg {
  background: url('HomeBG.png');
  background-size: cover;
}

header {
}

header.dark-theme {
  .navbar {
    min-height:80px !important;
    background: rgba(19, 18, 41, 0.6);
    color: #fff;
    font-size: 14pt;
    border: none;
    border-radius: 0px;
    margin-bottom: 0;

    a{
      color: #fff !important;
    }

    .navbar-collapse {
      text-align: center;
    }

    .navbar-brand{
      padding-top: 15px !important;
    }
  }

  .navbar-nav {
    font-family: 'GothaPro';
    text-transform: uppercase;
    display: inline-block;
    float: none;
    vertical-align: top;

    li > a, .navbar-brand {
      padding-top: 30px;
      padding-bottom: 0;
      height: 80px;
    }

    li:hover {
      background: rgba(19, 18, 41, 0.3);
    }

    .glyphicon {
      display: inline-block;
      vertical-align: text-top;
      font-size: 0.6em;
    }

    .name{
      font-weight: bold;
    }
  }

  .dropdown, .dropdown-menu {
    border: none;
    width: 250px;
  }

  .dropdown-menu {
    padding: 15px 0 15px 0;
    text-transform: none;
    background: rgba(19, 18, 41, 0.6);
    li {
      a {
        padding: 11px 35px 0 35px;
        height: 40px;
      }
      a:hover, a:focus{
        background: rgba(19, 18, 41, 0.3);
      }
      .number {
        font-weight: bold;
        padding-left: 10px;
      }
    }
    li:last-child a{
      padding: 20px 35px 0 35px;
      height: 60px;
    }

  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: rgba(19, 18, 41, 0.3);
  }
}

header.light-theme {
}

footer {
}

.content{
  flex: 1;
}