body{
  height:100vh;
  display:flex;
  flex-direction: column;
}

.home-page-bg {
  background: url('HomeBG.png');
  background-size: cover;
}

////////All header styles
header {
  .navbar {
    margin-bottom: 0px;
  }

  .custom-header {
    border-radius:0;
    border: none;

    .navbar-brand, .navbar-nav li a {
      line-height: 80px;
      height: 80px;
      padding-top: 0;
    }

    .navbar-nav{
      display: inline-block;
      float: none;
      vertical-align: top;

      li a {
        font-family: 'GothaPro';
        text-transform: uppercase;
      }

      .dropdown-menu {
        border: none;
        padding: 0px;

        li a{
          text-transform: none;
          line-height: 35px;
          height: 35px;
        }

        li:last-child a{
          line-height: 50px;
          height: 50px;
        }

        .number {
          font-weight: bold;
          padding-left: 8px;
        }
      }
    }

    .navbar-collapse {
      text-align: center;
    }

    .navbar-right {
      text-align: center;
      font-weight: bold;
    }

    .dropdown a{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .navbar-right li, .dropdown-menu {
      width: 180px;
    }
  }
}
////////All footer styles
footer {
  font-family: 'GothaPro';
  color: #fff;
  .contacts li {
    display: inline-block;
    a {
      color: #fff;
    }

    a:hover, a:focus {
      color: #d3d3d3;
    }
  }
}
///////Styles for Dark theme
.dark-theme {
  .custom-header{
   background: rgba(19, 18, 41, 0.6);
   .navbar-brand, .navbar-nav li a {
      color: #fff;
    }

   .navbar-nav{
      a:hover, a:focus {
        color: #fff;
        background: rgba(19, 18, 41, 0.3);
      }

      .open > a, .open > a:hover, .open > a:focus {
        background: rgba(19, 18, 41, 0.3);
      }

      .dropdown-menu {
        background: rgba(19, 18, 41, 0.6);
      }
    }
 }

  .custom-footer {
    text-align: center;

    .contacts li {
      line-height: 50px;
      height: 50px;
      font-size: 2em;
      margin: 0 10px;
    }
  }
}

///////Styles for Light theme
.light-theme {
  .custom-header{
    background: #fff;
    .navbar-brand, .navbar-nav li a {
      color: #35353f;
    }

    .navbar-nav{
      a:hover, a:focus {
        color: #35353f;
        background: rgba(0, 0, 0, 0.15);
      }

      .open > a, .open > a:hover, .open > a:focus {
        background: rgba(0, 0, 0, 0.15);
      }

      .dropdown-menu {
        background: #fff;
      }
    }
  }

  .custom-footer {
    .contacts li {
      margin: 0 5px;
    }

    .top{
      line-height: 100px;
      height: 100px;
      background: #35353f;

      .brand {
        font-size: 2.5em;
        color: #fff;
        text-decoration: none;
      }

      .contact-information{
        text-align: right;
        transform: translateY(33px);
        li {
          line-height: normal;
        }
      }
    }

    .bottom {
      text-transform: uppercase;
      color: #35353f;
      line-height: 50px;
      height: 50px;
      text-align: center;
    }
  }
}


.content{
  flex: 1;
}