body{
  height:100vh;
  display:flex;
  flex-direction: column;
}

.home-page-bg {
  background: url('HomeBG.png');
  background-size: cover;
}

header {
  ////////All header styles
  .navbar {
    margin-bottom: 0px;
  }

  .navbar-custom {
    border-radius:0;
    border: none;

    .navbar-brand {
      padding-top: 15px !important;
    }

    .navbar-brand, .navbar-nav li a {
      font-family: 'GothaPro';
      text-transform: uppercase;
      line-height: 80px;
      height: 80px;
      padding-top: 0;
    }

    .navbar-nav{
      display: inline-block;
      float: none;
      vertical-align: top;

      .glyphicon {
        display: inline-block;
        vertical-align: text-top;
        font-size: 0.6em;
      }

      .dropdown-menu {
        border: none;
        padding: 0px;

        li a{
          text-transform: none;
          line-height: 35px;
          height: 35px;
        }

        li:last-child a{
          line-height: 50px;
          height: 50px;
        }

        .number {
          font-weight: bold;
          padding-left: 8px;
        }
      }
    }

    .navbar-collapse {
      text-align: center;
    }

    .navbar-right {
      text-align: center;
      font-weight: bold;
    }

    .navbar-right li, .dropdown-menu {
      min-width: 200px;
    }
  }
}
///////Header styles for Dark theme
.dark-theme {
  .navbar-custom {
    background: rgba(19, 18, 41, 0.6);
    .navbar-brand, .navbar-nav li a {
      color:#fff;
    }

    .navbar-nav{
      a:hover, a:focus {
        color: #fff !important;
        background: rgba(19, 18, 41, 0.3);
      }

      .open > a, .open > a:hover, .open > a:focus {
        background: rgba(19, 18, 41, 0.3);
      }

      .dropdown-menu {
        background: rgba(19, 18, 41, 0.6);
      }
    }
  }
}

///////Header styles for Light theme
.light-theme {
  .navbar-custom {
    background: rgb(255, 255, 255);
    .navbar-brand, .navbar-nav li a {
      color:#000;
    }

    .navbar-nav{
      a:hover, a:focus {
        color: #000 !important;
        background: rgba(0, 0, 0, 0.05);
      }

      .open > a, .open > a:hover, .open > a:focus {
        background: rgba(0, 0, 0, 0.05);
      }

      .dropdown-menu {
        background: rgb(255, 255, 255);
      }
    }
  }
}

footer {
}

.content{
  flex: 1;
}