@import url(http://fonts.googleapis.com/css?family=Roboto)


.group-form
  font-family: 'Roboto', regular
  font-size: 0.9em
  margin: 0 auto
  padding: 40px
  width: 35%
  input[type=submit]
    margin: 40px 0 40px 0
    width: 100%
    color: #fff
    border: none
    border-radius: 30px
    padding: 20px 0 20px 0
    background: #35353f
    text-transform: uppercase
    font-weight: bold
    box-shadow: 6px 8px 22px -5px #2B2B39
  input[type=email], input[type=password], input[type=text]
    border: none
    border-bottom: 1px solid #cbcbcb
    width: 100%
    padding: 20px 10px
    margin-bottom: 10px
  .custom-checkbox
    text-align: center
    color: #cbcbcb
    padding-top: 35px
    input[type="checkbox"]
      display: none
      + label
        cursor: pointer
        &::before
          content: ""
          display: inline-block
          height: 14px
          width: 14px
          margin: 0 5px 0 0
          background-image: url('unchecked.png')
          background-repeat: no-repeat
      &:checked + label::before
        background-image: url('checked.png')
  .links
    text-align: center
    a
      line-height: 2em
      color: #cbcbcb
      text-decoration: none
