.dialog
  li, input, textarea
    border-radius: 15px !important
  .messages
    .sent
      background-color: #a1d7db !important
      text-align: right
      float: right
    .message
      background-color: #e9efeb
      display: inline-block
      margin: 5px 0
      width: 60%
      padding: 15px 15px
  .message-form
    margin-top: 5px
    textarea
      resize: none
      font-size: 16px
      box-sizing: border-box
      &::-webkit-scrollbar
        width: 20px
      &::-webkit-scrollbar-thumb
        border-radius: 15px
        background-color: #b5d3dc
      &::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
        border-radius: 15px
    input[type=submit]
      float: right
      outline: none
      margin-top: 10px
