.request-actions
  a
    text-decoration: none
.request-photo
  text-align: center
  float: left
  padding: 0 20px 15px 0
  img
    width: 100%
    border-radius: 10px
.categories
  height: 20px
.request-info
  color: #666666
  font-weight: bold
  p
    margin-right: 20px
    float: left
  .request-author
    a
      color: #35353f
      &:hover, &:focus
        text-decoration: underline
.request-description
  color: #666666
  font-size: 0.9em
  line-height: 25px
h1, h2
  font-family: 'Roboto'
  font-weight: bold


.request-show
  margin: 20px
  .request-photo
    width: 40%
  .request-title
    text-align: justify
    margin-top: 25px
    font-size: 1.9em
  .request-info
    margin-top: 25px
    font-size: 1em
  .request-description
    text-align: justify
    margin-top: 25px


.request-index
  margin: 5px 20px
  .request-photo
    width: 100%
  .request
    padding: 15px 0
  .request-title
    font-size: 1em
    a
      color: #35353f
      &:hover, &:focus
        text-decoration: underline
  .request-info
    margin-top: 15px
    font-size: 0.9em
  .request-description
    margin-top: 15px
    margin-bottom: 10px


