.request
  margin: 30px
  .request-photo
    border-radius: 10px
  .categories
    height: 20px
  .request-info
    color: #666666
    font-size: 1em
    margin-top: 25px
    font-weight: bold
    p
      margin-right: 20px
      float: left
    .views
      font-weight: bold
      &::before
        margin-left: 5px
        float: right
    .author
      a
        color: #35353f
        &:hover, &:focus
          text-decoration: underline
  .request-description
    margin-top: 25px
    color: #666666
    font-size: 0.9em
    line-height: 25px
  h1, h2
    font-family: 'Roboto'
    font-weight: bold
  h1
    margin-top: 25px
    font-size: 1.9em
  a
    text-decoration: none
