= link_to ' ', '#', data: {target: "#editModal_#{category.id}", toggle: 'modal'}, class: "label label-#{category.color}"
= render partial: 'modals/edit', locals: {id: category.id, selector: 'editModal'}