%h1 Категорії допомоги

- @categories.order(:name).each do |category|
  = link_to category.name, category, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br

%input( type="button" data-toggle="modal" data-target="#exampleModal" class="link" value="Додати категорію")

.modal.fade#exampleModal( tabindex="-1" aria-labelledby="exampleModalLabel" )
  .modal-dialog
    .modal-content.create-params
      .modal-header
        %button( class="close" data-dismiss="modal" aria-label="Close" )
          %span
            &times;
        %h5 Нова категорія допомоги
      = form_for Category.new do |f|
        .field
          Назва категорії
          = f.text_field :name

        .actions
          = f.submit 'Додати', :class => 'btn btn-primary'
