%p.kek1
  Ласкаво просимо #{@email}!
%p.kek2 Щоб підтвердити реєстрацію перейдіть за посиланням нище.
%p.kek3= link_to 'Підтвердити реєстрацію', confirmation_url(@resource, confirmation_token: @token)
