%p.kek1
  Привіт #{@resource.email}!
%p.kek2 Щоб підтвердити запит на зміну пароля перейдіть за посиланням нище.
%p.kek3= link_to 'Змінити пароль', edit_password_url(@resource, reset_password_token: @token)
%p.kek4 Якщо це були не ви, проігноруйте цей лист.
%p.kek5 Ваш пароль не зміниться доки ви не перейдете за посиланням вище, або не створете новий запит на зміну пароля.
