%p
  Привіт #{@resource.email}!
%p Щоб підтвердити запит на зміну пароля перейдіть за посиланням нище.
%p= link_to 'Змінити пароль', edit_password_url(@resource, reset_password_token: @token)
%p Якщо це були не ви, проігноруйте цей лист.
%p Ваш пароль не зміниться доки ви не перейдете за посиланням вище, або не створете новий запит на зміну пароля.
