#IUAfinance14.center-block
  .bank
    %h1
      %span
        %a#IUAfinance14TitleLink{:href => "http://finance.i.ua/bank/10/"} Курси валют
      %i
    %dl#IUAfinance14Embed
    %a{:href => "http://finance.i.ua/"} Курси долара, євро і рубля по банках
  %script{:charset => 'UTF-8', :src => '/assets/bank_widget.js', :type => 'text/javascript'}
