%iframe.center-block#out_iframe_v{:allowtransparency => "true", :frameborder => "0", :height => "484px", :hspace => "0", :marginheight => "0", :marginwidth => "0",
      :scrolling => "no", :src => "http://korrespondent.net/get_informers/?s=0&l=ua&n=5&i=1&c=green&f=v&t=n", :vspace => "0", :width => "75%"}
