#SinoptikInformer.SinoptikInformer.type1c1.center-block{:style => 'width: 75%'}
  .siHeader
    .siLh
      .siMh
        %a{:href => 'https://ua.sinoptik.ua/', :onmousedown => 'siClickCount();', :target => '_blank'} Погода
        %a.siLogo{:href => 'https://ua.sinoptik.ua/', :onmousedown => 'siClickCount();', :target => '_blank'}
        %span#siHeader
  .siBody
    %table
      %tbody
        %tr
          %td.siCityV{:style => 'width:100%;'}
            .siCityName
              %a{:href => 'https://ua.sinoptik.ua/погода-хмельницький', :onmousedown => 'siClickCount();', :target => '_blank'}
                Погода у
                %span Хмельницькому
        %tr
          %td{:style => 'width:100%;'}
            .siCityV2
              #siCont0.siBodyContent
                .siLeft
                  #siT0.siT
                  #weatherIco0
                .siInf
                  %p
                    вологість:
                    %span#vl0
                  %p
                    тиск:
                    %span#dav0
                  %p
                    вітер:
                    %span#wind0
    .siLinks
      %span
        %a{:href => 'https://ua.sinoptik.ua/погода-київ', :onmousedown => 'siClickCount();', :target => '_blank'}> Погода у Києві
         
      %span
        %a{:href => 'https://ua.sinoptik.ua/погода-львів', :onmousedown => 'siClickCount();', :target => '_blank'}> Погода у Львові
         
  .siFooter
    .siLf
      .siMf
  %script{:charset => 'UTF-8', :src => '//sinoptik.ua/informers_js.php?title=4&wind=3&cities=303027973&lang=ua', :type => 'text/javascript'}
