- flash.each do |key, value|
  - unless value.empty?
    %div{ class: flash_class(key)}
      %button.close{ data: {dismiss: 'alert'}, type: :button }
        %span{ aria: { hidden: true } } ×
        %span.sr-only Close
      = simple_format value