.notification
  .row
    .col-md-1
      .photo
        %span.fa.fa-volume-off
    .col-md-11
      .body
        %h1.title= "Відгук за #{link_to('запитом', request_url(a.recipient))} було створено."
        .info
          %p.date= time_ago_in_words(a.created_at) + ' тому.'
